/*
 *  light-green : #67c401
 *  dark-blue : #27515f
 *  blak : #0b1b1a
 *  dark-green : 1b3937
 */

body {
  background-color: #F1F1F1;
  overflow: visible;
}

a {
  color:inherit;
}

html,body {
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style:none;
}

h1 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

small {
  font-weight: 300;
  font-size: 0.7em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: top 0.25s;
  -moz-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
}

p {
  letter-spacing: 2px;
  font-weight:200;
  color: white;
  font-color: white;
}

.hidden {
  opacity : 0;
  display : none;
}

.red {
  color: #FF1B01;
}

.green {
  color: #00D000;
}

.blue {
  color: #4099FF;
}

.loaded {
  max-height : 70%;
}

.click-link {
  color : #517BFF;
}

.click-link:hover {
  color : #b8c8ff;
}

.small-bottom {
  font: -webkit-small-control;
  text-shadow: 1px 1px #A0A0A0;
}

.left-margin {
  margin-left:6rem;
}

.loading {
  vertical-align:auto;
  width : 100px; 
  height : 100px; 
}

.info {
  white-space: nowrap;
  display : block;
  text-align: center;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
}

.info-controls {
  padding : 0;
  display : -webkit-inline-box;
}

.info > span {
  margin-left:4rem;
  margin-right:1rem;
}

.info-controls li {
  margin-left:1rem;
  margin-right:1rem;
}

.fa-toggle-on {
  color : #89e5b0;
}

.disabled {
  display: none;
}

iframe[id*='scloud'] {
  margin-top:4rem;
  width : 60%;
  height : 60%;
}

.control-icon {
  cursor : pointer;
}

.control-icon > *:hover {
  -webkit-transform: scale(2.5,2.5);
  -ms-transform: scale(2.5,2.5); /* IE 9 */
  -webkit-transform: scale(2.5,2.5); /* Safari */
  transform: scale(2.5,2.5); 
  color : #A2A2A2;
}

#exp-bar-text {
  z-index:200;
  font-size : 9px;
  color : white;
  margin-left:50%;
  margin-right:50%;
}

#exp-bar {
  z-index:200;
  top:0;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  position : fixed;
  height: 0.5rem;
  width: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

.title {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  margin-left:2rem;
  margin-right:2rem;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

.shared-title {
  font-size : 1rem;
}

#right-corner-image {
  bottom : 0px;
  right : 0px;
  z-index : -20;
  opacity : 0.4;
  position : fixed;
  width : 0%;
  -webkit-transition: width 2s, height 2s; /* Safari */
  transition: width 2s, height 2s;
}

#left-corner-image {
  bottom : 0px;
  left : 0px;
  z-index : -20;
  opacity : 0.4;
  position : fixed;
  width : 0%;
  -webkit-transition: width 2s, height 2s; /* Safari */
  transition: width 2s, height 2s;
}

@media screen and (max-width: 960px) {
  #corner-image {
    width : 100%;
  }
}


/**
 * Tooltip Styles
 */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
