#nav {
  margin-bottom:3rem;
  left:1rem;
  right:1rem;
  list-style:none;
  padding-left:0rem;
  margin-top:0rem;
  background: #0b1b1a;
  text-align: center;
  height: 5rem;
}

.logo-top {
  vertical-align:middle;
  width : 100px;
  position:absolute;
  top:0.5rem;
  margin-left:-50px;
  z-index:1;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

#logo-text-top {
  top:-1rem;
  vertical-align:middle;
  width : 150px;
  position:absolute;
  margin-left:-75px;
  z-index:2;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

/*--- DROPDOWN ---*/
#nav ul{
  padding:1rem;
  background: rgba(27,57,55,0.4);
  position:absolute;
  left:-30rem; 
}

#nav ul li {
  text-align:left;
  width:16rem;
  padding:1rem;
  float:none;
}

#nav ul a {
  white-space:nowrap; 
}

#list-button:hover {
  -webkit-transform: scale(1.2,1.2);
  -ms-transform: scale(1.2,1.2); /* IE 9 */
  -webkit-transform: scale(1.2,1.2); /* Safari */
  transform: scale(1.2,1.2); 
}

#nav li:hover ul { 
  left:-1rem;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

#nav li:hover ul li:hover { 
  background: rgba(27,57,55,1);
}

#list-button {
  left:1rem;
  position:absolute;
  color: #67C401;
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 0.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

#level {
  position:absolute;
  display: inline-block;
  top:0.5rem;
  right : 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #67C401;
  cursor: pointer; 
  cursor: hand;
}

#level:hover {
  color: #EFFF02;
}

.text-button {
  color: #f0f0f0;
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 300;
  line-height: 3rem;
  height: 3rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  cursor: pointer; 
  cursor: hand;
}

.text-button:hover {
  color: #67C401;
}
