.scroll-stage {
  margin-bottom:1rem;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  display:flex;
}

.focus {
  box-shadow: 0 0px 60px rgb(36, 255, 0); 
}

.scroll-container {
  max-width:100%;
  min-height:390px;
  height: 390px;
}

.scroll-dummy {
  height: 390px;
}

.scroll-container > * {
  height: 390px;
  max-width : 100%;
  display:block;
  margin-left: auto; 
  margin-right: auto
}

#scroll-list {
  width : 80%;
}

.scroll-item {
  border-bottom : 2px solid #B1B1B1;
  background-color: rgba(255, 255, 255, 0.25);
  padding-top: 5px; 
  padding-bottom: 5px; 
  width:100%;
}

.image-performer {
  cursor: zoom-in;
}

.thumb-number {
  position: relative;
}

.scroll-item-info {
  color: #f0f0f0;
  text-align: left;
}

.scroll-item-info > h1 {
  width:80%;
  float : left;
}

.scroll-item-info > span {
  float : right;
  margin-top:7.5px;
  margin-right:2rem;
}

.scroll-info-controls {
  padding : 0;
  display : -webkit-inline-box;
}

.scroll-info-controls li {
  margin-left:0.5rem;
  margin-right:0.5rem;
}
