.container {
  margin-bottom: 2rem;
  box-shadow: 0 10px 80px rgba(100, 128, 69, 0.5); 
  background : black;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  font-weight: 300;
  max-width:80%;
}

.arrow-button {
  margin-top:3rem;
  color: #0f0f0f;
  text-decoration: none;
  padding: 0 2.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  cursor: hand;
}

.fa-angle-right:before, .fa-angle-left:before {
  font-size:3rem;
}

.vote-number {
  display:initial;
  margin-left:0px;
}

.red:hover {
  color: #e9a39b;
}

.stage {
  margin-bottom:6rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#stage-controls {
  text-align:center;
  padding-bottom:1rem;
  padding-top:1rem; 
  left:5rem;
  right:5rem;
  bottom:1rem;
  list-style:none;
  position : fixed;
  background: rgba(27,57,55,0.4);
  float:left; /* Clear floats */
}

#stage .hidden {
  /* display: none causes flash errors in FF */
  position: absolute;
  left: -9999px;
  top: -9999px;
}
