body {
  "font" : "normal x-small verdana,arial,helvetica,sans-serif";
}

li {
  list-style:none;
}

#cat-top-right {
  top : 0px;
  width : 200px;
  right : 0px;
  position : fixed;
}

#cat-top-left {
  top : -35px;
  left: -35px;
  position : fixed;
}

.standard-margin-top {
    margin-top:1rem;
}

.section {
    text-align: center;
    vertical-align: middle;
}

.standard-border-lines {
    border-radius:4px;
    border: 1px solid #D1D1D1;
}

.standard-text-size {
    font-size:25;
}

.button {
    border-radius:100px !important;
}
