html,body {
  background-image: url('./backgound6.png');
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

small {
  font-weight: 300;
  font-size: 0.7em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: top 0.25s;
  -moz-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
}

header.hidden {
  top: -4.3rem;
}

footer {
  font: -webkit-small-control;
  position: fixed;
  left: 0;
  bottom:0.5rem;
  width: 100%;
  -moz-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
  text-align: center;
}

footer p {
  font: -webkit-small-control;
  text-shadow: 1px 1px #A0A0A0;
}

#nav {
  list-style:none;
  padding-left:0rem;
  margin-top:0rem;
  box-shadow:0px 10px 32px rgba(0,0,0,0.5);
  position : fixed;
  width: 99%;
  background: #0f0f0f;
  text-align: center;
  height: 4rem;
  float:left; /* Clear floats */
}

/*--- DROPDOWN ---*/
#nav ul{
  padding-left:1rem;
  padding-top:1rem;
  background: #0f0f0f;
  list-style:none;
  position:absolute;
  left:-9999px; 
}

#nav ul li {
  margin-right:1rem;
  margin-bottom:1rem;
  left:-1rem;
  text-align:left;
  width:15rem;
  padding-top:1px; 
  float:none;
}

#nav ul a {
  white-space:nowrap; 
}

#nav li:hover ul { 
  left:-1rem;
}

#nav li:hover ul a { 
    text-decoration:none;
}

#nav li:hover ul li:hover { 
    background:#333;
}

#list-button {
  left:1rem;
  position:absolute;
  color: #f0f0f0;
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 0.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

#level {
  position:absolute;
  display: inline-block;
  top:0.5rem;
  right : 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}

#level:hover {
  color: #EFFF02;
}
.adjective {
  position:absolute;
  display: inline-block;
  top:0.5rem;
}

.fa-list:hover {
  color: #BDBEFF;
}

img {
  height:auto; 
  width:auto; 
  max-width:800px; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.7);
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

.modal {
  text-align:center;
  position:absolute;
  width:36rem;
  height:16rem;
  z-index:15;
  top:50%;
  left:50%;
  margin:-10rem 0 0 -18rem;
  box-shadow: 0 20px 80px rgba(35, 0, 120, 0.4); 
  background: #0f0f0f;
}

.add-item {
  width : 90%;
  margin-top:1rem;
  z-index:20;
}

#add-title {
  color: black;
  cursor: default; 
}

#add-url {
  color: black;
  cursor: default; 
}

.container {
  margin-bottom: 2rem;
  box-shadow: 0 20px 80px rgba(35, 0, 120, 0.4); 
  background : black;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

.loading {
  width : 100px; 
  height : 100px; 
}

.info {
  padding-top:5rem;
  display : block;
  text-align: center;
  width:100%
}

.fa-thumbs-up:hover, .fa-thumbs-down:hover {
  -webkit-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari */
  transform: scale(1.5,1.5); 
}

.vote-button {
  width: 2%;
  color: #f0f0f0;
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 0.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

.arrow-button {
  margin-top:3rem;
  color: #0f0f0f;
  text-decoration: none;
  padding: 0 2.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  cursor: hand;
}
.disabled {
  display: none;
}

.text-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 3rem;
  height: 3rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}

.text-button:hover {
  color: #BDBEFF;
}

#next-button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}   

#next-button:active {
  color: #8a8a8a;
}

#next-button:hover {
  letter-spacing: 0.4rem;
  color: #BDBEFF;
}

#upvote-button {
  position: relative;
  top: -0.15rem;
  padding-right: 0.5rem;
}

#upvote-button:hover {
  color: #89e5b0;
}

#upvote-button:active {
  color: #27ae60;
}

#downvote-button {
  padding-right: 1.0rem;
  position: relative;
  top: -0.15rem;
}

#downvote-button:hover {
  color: #e9a39b;
}

#downvote-button:active {
  color: #c0392b;
}

#stage {
  font-size: 5rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#stage .hidden {
  /* display: none causes flash errors in FF */
  position: absolute;
  left: -9999px;
  top: -9999px;
}

#exp-bar {
  height: 0.3rem;
  width: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

#exp-bar:after {
  content: '';
  border-radius: 50%;
  height: 0.3rem;
  width: 0.3rem;
  opacity: 1;
  background: inherit;
  -webkit-transition: width 1s, height 1s, opacity 1s;
  -moz-transition: width 1s, height 1s, opacity 1s;
  -o-transition: width 1s, height 1s, opacity 1s;
  transition: width 1s, height 1s, opacity 1s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
}

#exp-bar.animate:after {
  width: 1.1rem;
  height: 1.1rem;
  opacity: 0.4;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}


#title {
  display: inline-block;
  margin-left: 1.5rem;
}
