html,body {
  background-image: url('./backgound6.png');
  font-size: 17px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul {
  list-style:none;
}

h1 {
  font-weight: 300;
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

small {
  font-weight: 300;
  font-size: 0.7em;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: top 0.25s;
  -moz-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
}

header.hidden {
  top: -4.3rem;
}

footer {
  font: -webkit-small-control;
  position: fixed;
  left: 0;
  bottom:0.5rem;
  width: 100%;
  -moz-transition: top 0.25s;
  -o-transition: top 0.25s;
  transition: top 0.25s;
  text-align: center;
}

footer p {
  font: -webkit-small-control;
  text-shadow: 1px 1px #A0A0A0;
}

#nav {
  left:1rem;
  right:1rem;
  list-style:none;
  padding-left:0rem;
  margin-top:0rem;
  box-shadow:0px 10px 32px rgba(0,0,0,0.5);
  position : fixed;
  background: #0f0f0f;
  text-align: center;
  height: 4rem;
  float:left; /* Clear floats */
}

/*--- DROPDOWN ---*/
#nav ul{
  padding-left:1rem;
  padding-top:1rem;
  background: #0f0f0f;
  position:absolute;
  left:-9999px; 
}

#nav ul li {
  margin-right:1rem;
  margin-bottom:1rem;
  left:-1rem;
  text-align:left;
  width:18rem;
  padding-top:1px; 
  float:none;
}

#nav ul a {
  white-space:nowrap; 
}

#nav li:hover ul { 
  left:-1rem;
}

#nav li:hover ul a { 
    text-decoration:none;
}

#nav li:hover ul li:hover { 
    background:#333;
}

#list-button {
  left:1rem;
  position:absolute;
  color: #f0f0f0;
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 0.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

#level {
  position:absolute;
  display: inline-block;
  top:0.5rem;
  right : 1rem;
  text-decoration: none;
  font-size: 2.5rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}

#level:hover {
  color: #EFFF02;
}
.adjective {
  position:absolute;
  display: inline-block;
  top:0.5rem;
}

.fa-list:hover {
  color: #BDBEFF;
}

img {
  height:auto; 
  width:auto; 
  max-width:800px; 
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.75);
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

#add-modal {
  margin-top:6rem;
  width:36rem;
  height:16rem;
}



#stats-modal {
  position: relative;   
  margin-top:3rem;
  padding-bottom:6rem;
  width:90%;
  height:80%;
}

.modal {
  text-align:center;
  z-index:15;
  margin-left:auto;
  margin-right:auto;
  box-shadow: 0 20px 80px rgba(35, 0, 120, 0.4); 
  background: #0f0f0f;
}

.add-item {
  width : 90%;
  margin-top:1rem;
  z-index:20;
}

#add-title {
  color: black;
  cursor: default; 
}

#add-url {
  color: black;
  cursor: default; 
}

.container {
  margin-bottom: 2rem;
  box-shadow: 0 20px 80px rgba(35, 0, 120, 0.4); 
  background : black;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
}

.loading {
  width : 100px; 
  height : 100px; 
}

.info {
  padding-top:5rem;
  display : block;
  text-align: center;
  width:100%
}

.vote-button:hover {
  -webkit-transform: scale(1.5,1.5);
  -ms-transform: scale(1.5,1.5); /* IE 9 */
  -webkit-transform: scale(1.5,1.5); /* Safari */
  transform: scale(1.5,1.5); 
}

.fa-angle-right:before, .fa-angle-left:before {
  font-size:3rem;
}

.vote-button {
  margin-left:2rem;
  margin-right:2rem;
  color: #f0f0f0;
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

.arrow-button {
  margin-top:3rem;
  color: #0f0f0f;
  text-decoration: none;
  padding: 0 2.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  cursor: hand;
}

.disabled {
  display: none;
}

.text-button {
  display: inline-block;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 3rem;
  height: 3rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}

.text-button:hover {
  color: #BDBEFF;
}

#next-button {
  display: inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 4rem;
  padding: 0 0.5rem;
  transition: color 0.25s;
  letter-spacing: 0.25rem;
  color: #f0f0f0;
  cursor: pointer; 
  cursor: hand;
}   

#next-button:active {
  color: #8a8a8a;
}

#next-button:hover {
  letter-spacing: 0.4rem;
  color: #BDBEFF;
}

.positives {
  float:right;
  margin-right:4rem;
}

.positives a:hover {
  color: #89e5b0;
}

.neutrals {
  margin-left:1rem;
  display:inline-block;
}

.neutrals a:hover {
  color: #BDBEFF;
}

.negatives {
  float:left;
  margin-left:4rem;
}

.negatives a:hover {
  color: #e9a39b;
}

#downvote-button:active {
  color: #c0392b;
}

#stage {
  margin-bottom:4rem;
  margin-top: 2rem;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#stage-controls {
  text-align:center;
  padding-bottom:1rem;
  padding-top:1rem; 
  left:5rem;
  right:5rem;
  bottom:1rem;
  list-style:none;
  box-shadow:0px 10px 32px rgba(0,0,0,0.5);
  position : fixed;
  background: rgba(0,0,0,0.6);
  float:left; /* Clear floats */
}

#stage .hidden {
  /* display: none causes flash errors in FF */
  position: absolute;
  left: -9999px;
  top: -9999px;
}

#exp-bar {
  height: 0.3rem;
  width: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
}

#exp-bar:after {
  content: '';
  border-radius: 50%;
  height: 0.3rem;
  width: 0.3rem;
  opacity: 1;
  background: inherit;
  -webkit-transition: width 1s, height 1s, opacity 1s;
  -moz-transition: width 1s, height 1s, opacity 1s;
  -o-transition: width 1s, height 1s, opacity 1s;
  transition: width 1s, height 1s, opacity 1s;
  -webkit-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  -moz-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  -o-transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
  transition-timing-function: cubic-bezier(0.25, 1, 1, 1);
}

#exp-bar.animate:after {
  width: 1.1rem;
  height: 1.1rem;
  opacity: 0.4;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}

.add-status {
  display:inline-block;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 300;
  margin-top:1rem;
  padding: 0 0.5rem;
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

#filter-modal {
  overflow:auto;
  position: relative;   
  margin-top:3rem;
  color: #f0f0f0;
}

#filter-list {
}

.filter-item {
  display:inline-block;
  text-align: left;
  margin-left:2rem;
  padding-top:1rem;
  margin-right:2rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  text-align:left;
  background-color : black;
}

.filter-item.active {
  background-color : white;
}

#best-modal {
  overflow:auto;
  position: relative;   
  margin-top:3rem;
  width:90%;
  height:90%;
  color: #f0f0f0;
}

.best-stage {
}

#best-list {
  margin-top: 5rem;
}

.best-item {
  display:flex;
  text-align: left;
  margin-left:2rem;
  padding-top:1rem;
  margin-right:2rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
  text-align:left;
}

.best-item:nth-child(odd) {
  color : #DFDFDF;
}

.score {
  right: 1rem;
  position:absolute;
}

#best-nav {
  top:0rem;
  box-shadow:0px 0px 20px rgba(0,70,0,1);
  width : 90%;
  list-style:none;
  padding-left:0rem;
  position : fixed;
  background: #0f0f0f;
  text-align: center;
  height: 4rem;
  float:left; /* Clear floats */
}

#best-nav li {
  display:inline-block;
  margin-left:2rem;
  margin-top:1rem;
  margin-right:2rem;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 300;
}

.rank {
  margin-right:2rem;
  float : left;
} 

.title {
  -webkit-transition: color 0.25s;
  -moz-transition: color 0.25s;
  -o-transition: color 0.25s;
  transition: color 0.25s;
  margin-left:2rem;
  margin-right:2rem;
  transition: color 0.25s;
  cursor: pointer; 
  cursor: hand;
}

.title:hover {
  color: #BDBEFF;
}
